<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946117557092-9tbsh39g0e1esgm455918fm111elc98u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946117557092-9tbsh39g0e1esgm455918fm111elc98u</string>
	<key>API_KEY</key>
	<string>AIzaSyCky7esxbE4htuE0B7ACEBu-qY89a4DN3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>946117557092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conduit.architecturesample</string>
	<key>PROJECT_ID</key>
	<string>architecturesample-af3fa</string>
	<key>STORAGE_BUCKET</key>
	<string>architecturesample-af3fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946117557092:ios:3368161b34dcaba2</string>
	<key>DATABASE_URL</key>
	<string>https://architecturesample-af3fa.firebaseio.com</string>
</dict>
</plist>